.p1 {
	margin-top: 10px;
}
/**/
.header-conteiner {
	display: grid;
	grid-gap: 3px;
	grid-template-columns: 250px auto auto auto auto auto auto 250px;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
		'. . . . . . . .'
		'. i i c c u u .'
		'. i i c c d d .'
		'. . . . . . . .';
	background-color: #ffffff;
	opacity: 0.9;
	min-width: 360px;
	width: auto;
	height: 220px;
}

.header-sub {
	grid-area: c;
	align-content: center;
	text-align: center;
	margin-top: 40px;
	width: 500px;
	height: 130px;
}

.header-picture {
	grid-area: i;
	margin-top: 15px;
	margin-right: 5px;
	margin-left: 20px;
	display: inline-block;
	position: relative;
	width: 180px;
	height: 180px;
	overflow: hidden;
	border-radius: 50%;
}

.header-picture img {
	width: auto;
	height: 100%;
	margin-left: -50px;
	margin-bottom: -50px;
}

.header-title {
	text-align: left;
	margin-bottom: 2px;
	margin-top: 5px;
	font-family: 'Montserrat', serif;
	font-size: 32pt;
	position: relative;
}

.header-subtitle {
	text-align: left;
	margin-top: 2px;
	margin-left: 2px;
	margin-bottom: 5px;
	font-family: 'Inria Serif Bold', serif;
	font-size: 18pt;
}

.column {
	flex-direction: column;
}

.inrow {
	flex-direction: row;
}

.header-tc {
	display: flex;
	text-align: center;
	align-content: center;
	margin-top: 1px;
	margin-left: 1px;
	width: auto;
	height: auto;
}

.icon-conteiner {
	justify-content: flex;
	display: flex;
	/*Espaço para 4 itens*/
	width: 200px;
	height: 40px;
	/* background-color: cadetblue; development mode only */
}

.icons {
	opacity: 0.7;
	/*	background-color: blueviolet; development mode only */
}
.content1 {
	grid-area: u;
	margin-top: 45px;
}

.content2 {
	margin-top: 0;
	grid-area: d;
}

.btn-contato {
	justify-self: center;
	margin-right: 5px;
	margin-left: 1px;
	font-family: 'Inria Serif Bold', serif;
	font-size: 14pt;
}

.label-contato {
	font-family: 'Inria Serif Bold', serif;
	font-size: 14pt;
	color: #1976d2;
}

.btn-contrato {
	justify-self: center;
	margin-right: 5px;
	margin-left: 1px;
	font-family: 'Inria Serif Bold', serif;
	font-size: 14pt;
}

.label-contrato {
	font-family: 'Inria Serif Bold', serif;
	font-size: 14pt;
	color: #43a047;
}
